/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #081b29;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.icon{
    display: none;
    cursor: pointer;
    height: 20px;
    color: #081b29;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ededed;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{
    font-size: 18px;
    color: #081b29;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

/* Contact Form */

.form{
    margin-bottom: 2%;
}

.form form {
    max-width: 800px;
    margin: 86px auto;
    background-color: #0d2b40;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 85px;
}

label {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    color: #ededed;
    font-weight: bold;
}

.form input[type="text"], input[type="email"], input[type="tel"], select {
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input[type="submit"] {
    margin-top: 10%;
    background-color: #fff;
    color: #081b29;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button{
    display: block;
    margin-top: 4%;
    padding: 1%;
    width: 13%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #00abf0;
    color: #ededed;
}

button:hover{
    background-color: #081b29;
}

/* Footer */

.The-end{
    background-color: #ededed;
    padding-bottom: 6%;
}

.footer{
    padding-top: 5%;
    color: #081b29;
    /* margin-top: 35px; */
    padding-left: 11%;
    padding-right: 9%;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100vw;
}

.logo1{
    position: relative;
    font-size: 25px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
}

.logo1 a{
    color: #081b29;
}

.logo1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ededed;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar1 a{
    font-size: 18px;
    color: #081b29;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    transition: .3s;
}


.navbar1 a:hover,
.navbar1 a.active{
    color: #00abf0;
}

.The-end .ce{
    display: flex;
}

.The-end .contact{
    padding-left: 9rem;
    padding-top: 6%;
    color: #081b29;
}

.The-end .email{
    width: 100vw;
    padding-top: 1%;
    padding-left: 10rem;
}

.The-end .contact h4{
    padding-bottom: 2%;
}

.The-end .contact p{
    color: #081b29;
    font-size: 12px;
}


.email{
    margin-right: 1%;
    display: flex;
    flex-direction: column;
}

.email input[type=submit]{
    background-color: #00abf0;
    color: #081b29;
    padding: 9px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.email input[type=email]{
    padding: 7px 105px;
}

.email label[name="Email"]{
    color: #081b29;
}

.social-media{
    display: flex;
    padding-top: 6%;
    padding-left: 7.5rem;
}

.social-media a{
    padding-left: 2%;
}

@keyframes showRight{
    100%{
        width: 0;
    }
}